.container {
    background-image: url(../image/sizemini_92.jpg);
    background-position: 25%;
}

.buttton {
    margin-top: 30px;
    padding: 25px 60px;
    background-color: #40A2E3;
}

.buttton:hover {
    background-color: burlywood;
}

.buttton:focus {
    background-color: bisque;
}